
// .label-aboutMe {
//
// }

.aboutMe-container {
  background: url('../images/trees1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 25px 0;
}

.aboutMe-content {
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9)
}
