@import './variables.scss';

body, html {
  font-family: $font-text;
}

h1 {
  font-family: $font-header;
  font-size: 40px;
  font-weight: $weight-header;
  // text-shadow: 0 0 6px #FFF;
  margin-top: 20px;
  margin-bottom: 0;
}

h3 {
  font-size: 18px;
  font-weight: $weight-text;
  // text-shadow: 0 0 6px #FFF;
  margin: 6px auto;
}

body, html {
 margin: 0;
}

.titles-container {
  margin-left: 12%;
  margin-top: 6%;
  position: absolute;
  text-align: right;
}

#sub-title1 {
  margin-top: 0;
}

.hero-container {
  background: url('../images/sopris-summit-small.jpg') no-repeat fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-position: top;
  position: relative;
}

#card-grid-container {
  display: flex;
  flex-flow: row wrap;
}
