body, html {
  font-family: "Montserrat"; }

h1 {
  font-family: "Fira Sans";
  font-size: 40px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 0; }

h3 {
  font-size: 18px;
  font-weight: 300;
  margin: 6px auto; }

body, html {
  margin: 0; }

.titles-container {
  margin-left: 12%;
  margin-top: 6%;
  position: absolute;
  text-align: right; }

#sub-title1 {
  margin-top: 0; }

.hero-container {
  background: url("../images/sopris-summit-small.jpg") no-repeat fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-position: top; }

#card-grid-container {
  display: flex;
  flex-flow: row wrap; }

.link-aboutMe {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #000;
  text-decoration: none; }

.text-about, .text-me {
  color: rgba(100, 100, 100, 0.9);
  font-size: 25px;
  margin: 0; }
