body {
}


.header-container {
  background: url('../images/sopris-summit-small.jpg') no-repeat fixed;
  background-size: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-position: top;
  position:
}

#card-grid-container {
  display: flex;
  flex-flow: row wrap;
}

.header-icons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  right: 30px;
  top: 30px;
}

.header-link svg {
  margin: 10px;
  width: 75px;
  height: 75px;
}


/*.logo {
  background-image: url('./icons/image-round.svg')
}*/



/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
