body, html {
  font-family: "Montserrat"; }

h1 {
  font-family: "Fira Sans";
  font-size: 64px;
  font-weight: 600;
  text-shadow: 0 0 6px #FFF; }

h3 {
  font-size: 30px;
  font-weight: 300;
  text-shadow: 0 0 6px #FFF; }

body, html {
  margin: 0; }

.titles-container {
  margin-left: 20px;
  position: absolute;
  top: 5vh; }

.hero-container {
  background: url("../images/sopris-summit-small.jpg") no-repeat fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-position: top; }

#card-grid-container {
  display: flex;
  flex-flow: row wrap; }

.link-aboutMe {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #000;
  text-decoration: none; }

.text-about, .text-me {
  color: rgba(100, 100, 100, 0.9);
  font-size: 25px;
  margin: 0; }
