.card {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex: 0 1 33.33%;
  height: auto; }

.card:before {
  content: '';
  float: left;
  padding-top: 100%; }

.content-card {
  padding: 25px; }

.card-hover {
  display: none;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

.card0 {
  background: url("../images/stash-tracker/stash-tracker-screenshot.png"); }

.card2 {
  background: url("../images/weatherly/weatherly1.png"); }

.card4 {
  background: url("../images/movie-tracker/movie-tracker-screenshot.png"); }

.card6 {
  background: url("../images/madtalk/madtalk2.png"); }

.img-card {
  background-size: cover;
  background-repeat: no-repeat; }

.card0-hover {
  background: rgba(189, 102, 21, 0.68); }

.card1 {
  background: #bd6615; }

.card2-hover {
  background: rgba(101, 173, 226, 0.68); }

.card3 {
  background: #65ade2; }

.card4-hover {
  background: rgba(227, 220, 46, 0.68); }

.card5 {
  background: #e3dc2e; }

.card6-hover {
  background: rgba(226, 2, 3, 0.68); }

.card7 {
  background: #e20203; }

.img-card:hover > .card-hover {
  display: flex;
  justify-content: center;
  align-items: center; }

.card-hover label:hover {
  transform: scale(1.05);
  transition: all 0.1s ease-in-out; }

.card-icon-container {
  display: flex;
  justify-content: space-around;
  width: 60%; }

.card-link svg {
  width: 75px;
  height: 75px; }

.card0 {
  order: 0; }

.card1 {
  order: 1; }

.card2 {
  order: 2; }

.card3 {
  order: 5; }

.card4 {
  order: 4; }

.card5 {
  order: 3; }

.card6 {
  order: 6; }

.card7 {
  order: 7; }

@media screen and (max-width: 1200px) {
  .card {
    flex: 0 1 50%; }
  .card0 {
    order: 0; }
  .card1 {
    order: 1; }
  .card2 {
    order: 3; }
  .card3 {
    order: 2; }
  .card4 {
    order: 4; }
  .card5 {
    order: 5; }
  .card6 {
    order: 7; }
  .card7 {
    order: 6; } }

@media screen and (max-width: 750px) {
  .card {
    flex: 0 1 100%; }
  .card0 {
    order: 0; }
  .card1 {
    order: 1; }
  .card2 {
    order: 2; }
  .card3 {
    order: 3; }
  .card4 {
    order: 4; }
  .card5 {
    order: 5; }
  .card6 {
    order: 6; }
  .card7 {
    order: 7; } }
