@import './variables.scss';

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 8px 15px;
}

.header-left-div {
  visibility: hidden;
}

.header-container-fixed {
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.95);
  bottom: unset;
  top: 0;
  .header-left-div {
    visibility: visible;
  }
  .header-label svg {
    fill: #FFF;
  }
}

.header-right-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-left-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-name {
  font-family: $font-header;
  font-weight: $weight-header;
  color: #FFF;
}

.header-title {
  color: #FFF;
}

.header-label {
  margin: 10px;
  font-size: 0;
  color: #FFF;
}

.header-link svg, .header-link {
  font-size: 0;
}
