body, html {
  font-family: "Montserrat"; }

h1 {
  font-family: "Fira Sans";
  font-size: 40px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 0; }

h3 {
  font-size: 18px;
  font-weight: 300;
  margin: 6px auto; }

body, html {
  margin: 0; }

.titles-container {
  margin-left: 12%;
  margin-top: 6%;
  position: absolute;
  text-align: right; }

#sub-title1 {
  margin-top: 0; }

.hero-container {
  background: url("../images/sopris-summit-small.jpg") no-repeat fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-position: top; }

#card-grid-container {
  display: flex;
  flex-flow: row wrap; }

.link-aboutMe {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #000;
  text-decoration: none; }

.text-about, .text-me {
  color: rgba(100, 100, 100, 0.9);
  font-size: 25px;
  margin: 0; }

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  padding: 8px 15px; }

.header-container-fixed {
  position: fixed;
  width: 100%;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.95); }
  .header-container-fixed .header-name {
    color: #FFF; }
  .header-container-fixed .header-title {
    color: #FFF; }
  .header-container-fixed .header-label svg {
    fill: #FFF; }

.header-right-div, .header-left-div {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.header-name {
  font-family: "Fira Sans";
  font-weight: 600; }

.header-label {
  margin: 10px;
  font-size: 0; }

.header-link svg, .header-link {
  font-size: 0; }

.card {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex: 0 1 50%;
  height: auto; }

.card:before {
  content: '';
  float: left;
  padding-top: 100%; }

.content-card {
  padding: 25px; }

.card-hover {
  display: none;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

.card0 {
  background: url("../images/stash-tracker/stash-tracker-screenshot.png");
  background-size: cover;
  background-repeat: no-repeat; }

.card3 {
  background: url("../images/weatherly/weatherly1.png");
  background-size: cover;
  background-repeat: no-repeat; }

.card4 {
  background: url("../images/movie-tracker/movie-tracker-screenshot.png");
  background-size: cover;
  background-repeat: no-repeat; }

.card0-hover {
  background: rgba(189, 102, 21, 0.68); }

.card1 {
  background: #bd6615; }

.card2 {
  background: #65ade2; }

.card3-hover {
  background: rgba(101, 173, 226, 0.68); }

.card4-hover {
  background: rgba(227, 220, 46, 0.68); }

.card5 {
  background: #e3dc2e; }

.img-card:hover > .card-hover {
  display: flex;
  justify-content: center;
  align-items: center; }

.card-icon-container {
  display: flex;
  justify-content: space-around;
  width: 60%; }

.card-link svg {
  width: 75px;
  height: 75px; }

@media screen and (min-width: 1200px) {
  .card {
    flex: 0 1 33.33%; }
  .card0 {
    order: 0; }
  .card1 {
    order: 1; }
  .card2 {
    order: 5; }
  .card3 {
    order: 2; }
  .card4 {
    order: 4; }
  .card5 {
    order: 3; } }

.aboutMe-container {
  background: url("../images/trees1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 25px 0; }

.aboutMe-content {
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9); }
