body, html {
  font-family: "Montserrat"; }

h1 {
  font-family: "Fira Sans";
  font-size: 40px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 0; }

h3 {
  font-size: 18px;
  font-weight: 300;
  margin: 6px auto; }

h4 {
  margin: 8px 0; }

h5 {
  margin: 3px 0; }

body, html {
  margin: 0; }

.titles-container {
  margin-left: 11%;
  margin-top: 5%;
  position: absolute;
  text-align: right; }

#sub-title1 {
  margin-top: 0; }

.hero-container {
  background: url("../images/sopris-bw-blurred.JPG") no-repeat fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-position: top;
  position: relative; }

#card-grid-container {
  display: flex;
  flex-flow: row wrap; }

.hero-container, #card-grid-container {
  max-width: 2500px;
  margin: 0 auto; }

#app-container {
  background: #bd6615; }

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
  z-index: 1; }

.header-left-div {
  visibility: hidden; }

.header-container-fixed {
  position: fixed;
  background: black;
  bottom: unset;
  top: 0; }
  .header-container-fixed .header-left-div {
    visibility: visible;
    transition: all 0.1s ease-in-out; }
  .header-container-fixed .header-label svg {
    fill: #FFF;
    transition: all 0.1s ease-in-out; }
  .header-container-fixed .text-me {
    color: #000; }
  .header-container-fixed .link-aboutMe {
    background: #FFF; }

.header-right-div, .header-right-subdiv, .header-left-div {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.header-name {
  font-family: "Fira Sans";
  font-weight: 500;
  color: #FFF;
  margin: 0; }

.header-title {
  margin-left: 5px;
  font-weight: 200;
  font-size: 18px;
  color: #FFF; }

.header-label {
  margin: 15px 7px;
  font-size: 0;
  color: #FFF; }

.header-link svg, .header-link {
  font-size: 0; }

.header-link svg, .link-aboutMe, .label-hamburger svg {
  width: 40px;
  height: 40px; }

.label-mobile {
  display: none; }

.header-label:hover {
  transform: scale(1.05);
  transition: all 0.1s ease-in-out; }

.label-github:hover svg {
  fill: #4078c0;
  box-shadow: 0 0 8px rgba(64, 120, 192, 0.8); }

.label-linkedIn:hover svg {
  fill: #1178b3;
  box-shadow: 0 0 8px rgba(17, 120, 179, 0.8); }

.label-twitter:hover svg {
  fill: #2aa3ef;
  box-shadow: 0 0 8px rgba(42, 163, 239, 0.8); }

.link-aboutMe:hover {
  background: #bd6615;
  box-shadow: 0 0 8px rgba(189, 102, 21, 0.8); }

.label-mobile:hover svg {
  fill: #bd6615; }

.link-aboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  text-decoration: none; }

.text-me {
  font-size: 25px;
  margin: 0;
  color: rgba(255, 255, 255, 0.9); }

.link-home {
  text-decoration: none; }

.header-left-div:hover .header-name, .header-left-div:hover .header-title {
  color: #bd6615;
  text-shadow: 0 0 4px #bd6615; }

.header-left-div:hover .header-name {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out; }

@media screen and (max-width: 900px) {
  .titles-container {
    margin-left: 5%; }
  #title {
    font-size: 30px; }
  .sub-title {
    font-size: 15px; } }

@media screen and (max-width: 600px) {
  .header-container-fixed .label-mobile {
    display: unset; }
  .header-container-fixed .header-right-subdiv {
    display: none; }
  .header-container-fixed .header-right-div:hover .header-right-subdiv {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 9px;
    top: 71px;
    background: rgba(0, 0, 0, 0.8); }
  .header-container-fixed .header-right-div:hover .label-desktop {
    margin: 7px 13px; }
  .header-container-fixed .header-right-div:hover .label-aboutMe {
    margin-bottom: 13px; } }

@media screen and (max-width: 550px) {
  .titles-container {
    margin-left: 4%;
    margin-top: 0%;
    text-align: left; }
  #title {
    font-size: 30px;
    margin-top: 10px; }
  .sub-title {
    font-size: 15px; } }

.card {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex: 0 1 33.33%;
  height: auto; }

.card:before {
  content: '';
  float: left;
  padding-top: 100%; }

.content-card {
  padding: 25px; }

.card-hover {
  display: none;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

.card0 {
  background: url("../images/stash-tracker/stash-tracker-screenshot.png"); }

.card2 {
  background: url("../images/weatherly/weatherly1.png"); }

.card4 {
  background: url("../images/movie-tracker/movie-tracker-screenshot.png"); }

.card6 {
  background: url("../images/madtalk/madtalk2.png"); }

.img-card {
  background-size: cover;
  background-repeat: no-repeat; }

.card0-hover {
  background: rgba(189, 102, 21, 0.68); }

.card1 {
  background: #bd6615; }

.card2-hover {
  background: rgba(101, 173, 226, 0.68); }

.card3 {
  background: #65ade2; }

.card4-hover {
  background: rgba(227, 220, 46, 0.68); }

.card5 {
  background: #e3dc2e; }

.card6-hover {
  background: rgba(226, 2, 3, 0.68); }

.card7 {
  background: #e20203; }

.img-card:hover > .card-hover {
  display: flex;
  justify-content: center;
  align-items: center; }

.card-hover label:hover {
  transform: scale(1.05);
  transition: all 0.1s ease-in-out; }

.card-icon-container {
  display: flex;
  justify-content: space-around;
  width: 60%; }

.card-link svg {
  width: 75px;
  height: 75px; }

.card0 {
  order: 0; }

.card1 {
  order: 1; }

.card2 {
  order: 2; }

.card3 {
  order: 5; }

.card4 {
  order: 4; }

.card5 {
  order: 3; }

.card6 {
  order: 6; }

.card7 {
  order: 7; }

@media screen and (max-width: 1200px) {
  .card {
    flex: 0 1 50%; }
  .card0 {
    order: 0; }
  .card1 {
    order: 1; }
  .card2 {
    order: 3; }
  .card3 {
    order: 2; }
  .card4 {
    order: 4; }
  .card5 {
    order: 5; }
  .card6 {
    order: 7; }
  .card7 {
    order: 6; } }

@media screen and (max-width: 750px) {
  .card {
    flex: 0 1 100%; }
  .card0 {
    order: 0; }
  .card1 {
    order: 1; }
  .card2 {
    order: 2; }
  .card3 {
    order: 3; }
  .card4 {
    order: 4; }
  .card5 {
    order: 5; }
  .card6 {
    order: 6; }
  .card7 {
    order: 7; } }

.aboutMe-container {
  background: url("../images/trees-bw2.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 25px 0; }

.aboutMe-content {
  width: 95%;
  max-width: 800px;
  margin: 25px auto 0 auto; }

.aboutMe-div {
  background: rgba(255, 255, 255, 0.9);
  padding: 45px 20px; }

.aboutMe-header {
  text-align: center;
  margin: 10px; }

.aboutMe-underline {
  box-sizing: border-box;
  border-bottom: 2px solid rgba(189, 102, 21, 0.4);
  width: 30%;
  margin: 0 auto 15px auto; }

.aboutMe-summary-container {
  text-align: center; }
  .aboutMe-summary-container .aboutMe-summary-header {
    display: flex;
    justify-content: center;
    align-items: center; }
    .aboutMe-summary-container .aboutMe-summary-header .aboutMe-profilePic {
      margin: 5px;
      width: 100px; }
    .aboutMe-summary-container .aboutMe-summary-header .aboutMe-titles {
      margin-left: 10px;
      text-align: left; }
      .aboutMe-summary-container .aboutMe-summary-header .aboutMe-titles h3 {
        font-weight: 500; }
  .aboutMe-summary-container .aboutMe-summary {
    margin: 10px 25px 0 25px;
    text-align: left; }

.aboutMe-projects-container h4 {
  text-align: center; }

.aboutMe-linkHome {
  text-decoration: none; }

.education-div {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .education-div h4 {
    margin-right: 2px;
    text-align: left; }
  .education-div h5 {
    margin-left: 2px;
    text-align: right; }

.aboutMe-progskills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .aboutMe-progskills h4 {
    margin: 10px; }

.aboutMe-wrapper {
  display: flex;
  justify-content: space-between; }

.aboutMe-lifeskills-left {
  width: 48%; }
  .aboutMe-lifeskills-left h3 {
    text-align: center; }
  .aboutMe-lifeskills-left h4 {
    margin-right: 2px;
    text-align: center; }

.aboutMe-lifeskills-right {
  width: 48%; }
  .aboutMe-lifeskills-right h3 {
    text-align: center; }
  .aboutMe-lifeskills-right h4 {
    margin-left: 2px;
    text-align: center; }

.aboutMe-contact-container h4 {
  text-align: center; }
